[Desktop Entry]
Name=Cooking Guide
Name[sv]=Matlagaren
Comment=Step-by-step cooking recipes for children
Comment[sv]=Steg-för-steg bildrecept
Exec=matlagaren
Icon=se.danielnylander.matlagaren
Type=Application
Categories=Education;Accessibility;Autismappar
